#### Contents of the preconfiguration file
### Localization
# Locale sets language and country.
d-i debian-installer/locale string en_US.UTF-8
# Optionally specify additional locales to be generated.
d-i localechooser/supported-locales multiselect pl_PL.UTF-8
d-i debian-installer/language string en
d-i debian-installer/country string PL
# Keyboard selection.
d-i console-keymaps-at/keymap select pl_PL
d-i keyboard-configuration/xkb-keymap select pl_PL

### Clock and time zone setup
# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean false
# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string Europe/Warsaw
# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true
# NTP server to use. The default is almost always fine here.
#d-i clock-setup/ntp-server string ntp.example.com

### Mirror settings
# Mirror protocol:
# If you select ftp, the mirror/country string does not need to be set.
# Default value for the mirror protocol: http.
#d-i mirror/protocol string ftp
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Network configuration
#d-i netcfg/choose_interface select eth0
d-i netcfg/choose_interface select auto
# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.
d-i netcfg/get_hostname string d
d-i netcfg/get_domain string local
# If you want to force a hostname, regardless of what either the DHCP
# server returns or what the reverse DNS entry for the IP is, uncomment
# and adjust the following line.
# d-i netcfg/hostname string d
# The wacky dhcp hostname that some ISPs use as a password of sorts.
# d-i netcfg/dhcp_hostname string d
# Static network configuration - uncomment if desired
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/get_ipaddress string 192.168.0.123
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 192.168.0.1
d-i netcfg/get_nameservers string 192.168.0.1
d-i netcfg/confirm_static boolean true
# If non-free firmware is needed for the network or other hardware, you can
# configure the installer to always try to load it, without prompting. Or
# change to false to disable asking.
d-i hw-detect/load_firmware boolean true
# Setup network console
d-i preseed/early_command string anna-install network-console
d-i network-console/start select continue
# Login with ssh key:
d-i network-console/authorized_keys_url string https://github.com/damsag.keys
# disable login with password:
d-i network-console/password-disabled boolean true

###Login
# Skip creation of a root account (normal user account will be able to
# use sudo).
d-i passwd/root-login boolean true
# Root password, either in clear text
#d-i passwd/root-password password r00tme
#d-i passwd/root-password-again password r00tme
# or encrypted using a crypt(3) hash. Encrypt with: mkpasswd -m sha-512 PASSWORD
d-i passwd/root-password-crypted password $6$q4eTQ9uPp7mHFh7o$RD08BIG1qMri16WkWQnXhG8d4NwQmrXh0ZSx74dNvv3gNzOH6VDsa/xECrYqm/SpvVsZnt5NMUvGe.vNPiHnV/
# Alternatively, to skip creation of a normal user account.
d-i passwd/make-user boolean true
# To create a normal user account.
d-i passwd/user-fullname string Debian User
d-i passwd/username string d
# Normal user's password, either in clear text
#d-i passwd/user-password password insecure
#d-i passwd/user-password-again password insecure
# or encrypted using a crypt(3) hash. Encrypt with: mkpasswd -m sha-512 PASSWORD
d-i passwd/user-password-crypted password $6$q4eTQ9uPp7mHFh7o$RD08BIG1qMri16WkWQnXhG8d4NwQmrXh0ZSx74dNvv3gNzOH6VDsa/xECrYqm/SpvVsZnt5NMUvGe.vNPiHnV/
# Create the first user with the specified UID instead of the default.
d-i passwd/user-uid string 1010
# The user account will be added to some standard initial groups. To
# override that, use this.
# d-i passwd/user-default-groups string docker

### Partitioning
# If lsblk is available
# d-i partman/early_command string \
#   PRIMARYDISK=/dev/$(lsblk -Sn -o NAME,SIZE,LABEL,MODEL --sort SIZE --include 8 | grep MX200 | awk '{print $1}') ; \
#   debconf-set partman-auto/disk "$PRIMARYDISK" ;
# If lsblk is not available
d-i partman/early_command string \
  PRIMARYDISK=$( \
    for i in /sys/block/sd?; do \
      model=$(cat $i/device/model 2>/dev/null); \
      size=$(cat $i/size); \
      echo "$size $i $model"; \
    done | \
    grep -i 'Crucial_CT250MX2' | \
    sort -n | \
    head -n 1 | \
    awk '{print "/dev/" substr($2, length("/sys/block/") + 1)}' \
  ); \
  debconf-set partman-auto/disk "$PRIMARYDISK";
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select home
d-i partman/default_filesystem string btrfs
# Force UEFI booting ('BIOS compatibility' will be lost). Default: false.
d-i partman-efi/non_efi_system boolean false
# Ensure the partition table is GPT - this is required for EFI
d-i partman-partitioning/choose_label string gpt
# Ensure the partition table is GPT - this is required for EFI
d-i partman-partitioning/default_label string gpt
# This makes partman automatically partition without confirmation
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
# If one of the disks that are going to be automatically partitioned
# contains an old LVM configuration, the user will normally receive a
# warning. This can be preseeded away...
d-i partman-lvm/device_remove_lvm boolean true
# The same applies to pre-existing software RAID array:
d-i partman-md/device_remove_md boolean true
# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

### Boot loader installation
# Grub is the boot loader (for x86).
# This is fairly safe to set, it makes grub install automatically to the UEFI
# partition/boot record if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true
# This one makes grub-installer install to the UEFI partition/boot record, if
# it also finds some other OS, which is less safe as it might not be able to
# boot that other OS.
d-i grub-installer/with_other_os boolean false
# Due notably to potential USB sticks, the location of the primary drive can not be determined safely in general, so this needs to be specified:
# d-i grub-installer/bootdev select default

## Finishing
# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note
# This will prevent the installer from ejecting the CD during the reboot,
# which is useful in some situations.
#d-i cdrom-detect/eject boolean false
# This is how to make the installer shutdown when finished, but not
# reboot into the installed system.
#d-i debian-installer/exit/halt boolean true
# This will power off the machine instead of just halting it.
#d-i debian-installer/exit/poweroff boolean true

## Apt setup
# You can choose to install non-free firmware.
d-i apt-setup/non-free-firmware boolean true
# You can choose to install non-free software.
d-i apt-setup/non-free boolean true
# You can choose to install contrib software.
d-i apt-setup/contrib boolean true

### Package selection
#tasksel tasksel/first multiselect standard, web-server, kde-desktop
# Or choose to not get the tasksel dialog displayed at all (and don't install
# any packages):
d-i pkgsel/run_tasksel boolean false
# Individual additional packages to install
d-i pkgsel/include string openssh-server build-essential
# Whether to upgrade packages after debootstrap.
# Allowed values: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select full-upgrade
# You can choose, if your system will report back on what software you have
# installed, and what software you use. The default is not to report back,
# but sending reports helps the project determine what software is most
# popular and should be included on the first CD/DVD.
popularity-contest popularity-contest/participate boolean false
